# Application Configuration
NODE_ENV=
PORT=

# PostgreSQL Database (Prisma)
DATABASE_URL=

# Redis Configuration (Cache & BullMQ)
REDIS_HOST=
REDIS_PORT=

# JWT Authentication
JWT_SECRET=
JWT_EXPIRES_IN=

# Rate Limiting
LOGIN_RATE_LIMIT_WINDOW_MS=
LOGIN_RATE_LIMIT_MAX=
